node-red/web-services
[{"id":"59c79f48.f9653","type":"http in","z":"15d69b4c.88bad5","name":"Identify","url":"/identify","method":"post","swaggerDoc":"","x":149.5,"y":286,"wires":[["23d5e059.c882b","7f5d88bf.5edac8"]]},{"id":"8583b679.8e8f08","type":"http response","z":"15d69b4c.88bad5","name":"Identify-Response","x":1617.5,"y":322,"wires":[]},{"id":"23d5e059.c882b","type":"debug","z":"15d69b4c.88bad5","name":"","active":false,"console":"false","complete":"payload.url","x":360.5,"y":178,"wires":[]},{"id":"76da2e0d.a08e1","type":"catch","z":"15d69b4c.88bad5","name":"","scope":null,"x":347.5,"y":41,"wires":[["e92879d6.d24ed8"]]},{"id":"e92879d6.d24ed8","type":"debug","z":"15d69b4c.88bad5","name":"","active":true,"console":"false","complete":"false","x":528.5,"y":42,"wires":[]},{"id":"c33ef41f.826cc8","type":"visual-recognition-v3","z":"15d69b4c.88bad5","name":"Detect Faces","apikey":"__PWRD__","image-feature":"detectFaces","lang":"en","x":624.5,"y":472,"wires":[["52f21910.1fc888","7b3122e4.b4929c"]]},{"id":"52f21910.1fc888","type":"debug","z":"15d69b4c.88bad5","name":"","active":true,"console":"false","complete":"result","x":904.5,"y":624,"wires":[]},{"id":"521fa173.9a68d","type":"inject","z":"15d69b4c.88bad5","name":"Binary Buffer","topic":"","payload":"do","payloadType":"str","repeat":"","crontab":"","once":false,"x":178.5,"y":552,"wires":[["7089d120.e74"]]},{"id":"7089d120.e74","type":"http request","z":"15d69b4c.88bad5","name":"","method":"GET","ret":"bin","url":"http://blogs.longwood.edu/jameslaycock/files/2015/03/19_Kevin_Bacon.jpg","tls":"","x":347.5,"y":550,"wires":[["c33ef41f.826cc8"]]},{"id":"7f5d88bf.5edac8","type":"switch","z":"15d69b4c.88bad5","name":"","property":"payload.url","propertyType":"msg","rules":[{"t":"null"},{"t":"nnull"}],"checkall":"true","outputs":2,"x":344.5,"y":291,"wires":[["69abf755.85ca68"],["59d06169.476a7"]]},{"id":"69abf755.85ca68","type":"template","z":"15d69b4c.88bad5","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<h1>Mixoff - Identity Service</h1>\n<H2>Please provide a JSON body with a populated \"url\" field</H2>\n","x":685.5,"y":286,"wires":[["8583b679.8e8f08"]]},{"id":"7b3122e4.b4929c","type":"function","z":"15d69b4c.88bad5","name":"","func":"msg.payload = msg.result;\nreturn msg;","outputs":1,"noerr":0,"x":879.5,"y":456,"wires":[["8583b679.8e8f08"]]},{"id":"59d06169.476a7","type":"function","z":"15d69b4c.88bad5","name":"","func":"msg.payload = msg.payload.url;\nreturn msg;","outputs":1,"noerr":0,"x":396.5,"y":413,"wires":[["c33ef41f.826cc8"]]},{"id":"ef04de46.8852a","type":"debug","z":"15d69b4c.88bad5","name":"","active":true,"console":"false","complete":"result.images[0].classifiers[0].classes[0].class","x":1252.5,"y":794,"wires":[]},{"id":"6ab189ac.f7fff8","type":"http in","z":"15d69b4c.88bad5","name":"Analyse","url":"/analyse","method":"post","swaggerDoc":"","x":166.5,"y":827,"wires":[["eda68f1c.74893","271b661e.1a805a"]]},{"id":"84fc43ea.63553","type":"http response","z":"15d69b4c.88bad5","name":"Analyse Response","x":1403.5,"y":977,"wires":[]},{"id":"1ba3836.cefe97d","type":"function","z":"15d69b4c.88bad5","name":"","func":"msg.payload = msg.result.images[0].classifiers[0].classes[0].class;\nreturn msg;","outputs":1,"noerr":0,"x":1120,"y":977,"wires":[["84fc43ea.63553"]]},{"id":"737ba604.a24978","type":"visual-recognition-v3","z":"15d69b4c.88bad5","name":"Classify Image","apikey":"61430c74ebdbffb54f","image-feature":"classifyImage","lang":"en","x":589.5,"y":912,"wires":[["880a3644.9d9398","b38ba0b8.0548b"]]},{"id":"eda68f1c.74893","type":"switch","z":"15d69b4c.88bad5","name":"","property":"payload.url","propertyType":"msg","rules":[{"t":"null"},{"t":"nnull"}],"checkall":"true","outputs":2,"x":336,"y":828,"wires":[[],["256a2097.ba2c3"]]},{"id":"256a2097.ba2c3","type":"function","z":"15d69b4c.88bad5","name":"","func":"msg.payload = msg.payload.url;\nreturn msg;","outputs":1,"noerr":0,"x":382,"y":912,"wires":[["737ba604.a24978"]]},{"id":"db02b6cb.fe5148","type":"inject","z":"15d69b4c.88bad5","name":"Binary Buffer","topic":"","payload":"do","payloadType":"str","repeat":"","crontab":"","once":false,"x":139,"y":1030,"wires":[["88855fda.93417"]]},{"id":"88855fda.93417","type":"http request","z":"15d69b4c.88bad5","name":"","method":"GET","ret":"bin","url":"http://www.no2star.com/file/2016/09/AKAGUN02leftD.jpg","tls":"","x":308,"y":1028,"wires":[["737ba604.a24978"]]},{"id":"880a3644.9d9398","type":"debug","z":"15d69b4c.88bad5","name":"","active":true,"console":"false","complete":"result","x":820.5,"y":856,"wires":[]},{"id":"b38ba0b8.0548b","type":"switch","z":"15d69b4c.88bad5","name":"Check image analysed","property":"result.images","propertyType":"msg","rules":[{"t":"nnull"},{"t":"null"}],"checkall":"true","outputs":2,"x":814.5,"y":1042,"wires":[["ef04de46.8852a","1ba3836.cefe97d"],["7eb3caa6.2b3eb4"]]},{"id":"7eb3caa6.2b3eb4","type":"template","z":"15d69b4c.88bad5","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<h1>Mixoff - Analysis Service</h1>\n<H2>{{result.error}}</H2>\n","x":1124,"y":1116,"wires":[["84fc43ea.63553"]]},{"id":"271b661e.1a805a","type":"debug","z":"15d69b4c.88bad5","name":"","active":true,"console":"false","complete":"false","x":396.5,"y":714,"wires":[]},{"id":"3a7e165d.ada65a","type":"http in","z":"15d69b4c.88bad5","name":"Pic","url":"/pic","method":"post","swaggerDoc":"","x":94.5,"y":1230,"wires":[["3f11a9c0.9c03f6","84667906.9ac038"]]},{"id":"3f11a9c0.9c03f6","type":"function","z":"15d69b4c.88bad5","name":"Set Content-Type header","func":"msg.headers = {\n    \"Content-Type\":\"image/jpeg\"\n};\nreturn msg;","outputs":1,"noerr":0,"x":352.2777404785156,"y":1229,"wires":[["443d8195.9b2b9"]]},{"id":"4f8a000a.08508","type":"http in","z":"15d69b4c.88bad5","name":"","url":"/image","method":"get","swaggerDoc":"","x":112,"y":1370,"wires":[["13118325.04265d"]]},{"id":"bdf6496e.7726a8","type":"template","z":"15d69b4c.88bad5","name":"Results to Mustache","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!-- CREATE person ELEMENTS THAT WILL HOLD EACH IDENTIFIED PERSON'S DATA -->\n{{#payload.persons}}\n<person data-name=\"{{name}}\" data-x=\"{{x}}\" data-y=\"{{y}}\" data-width=\"{{width}}\" data-height=\"{{height}}\" data-class=\"{{class}}\"></person>\n{{/payload.persons}}\n\n<style>#canvas{ height: 100%; } html, body { padding:0; margin: 0; }</style>\n\n<canvas id=\"canvas\" data-src=\"{{payload.url}}\"></canvas>\n\n<script>\nvar canvas = document.getElementById('canvas');\nvar persons = document.querySelectorAll('person');\nvar ctx = canvas.getContext(\"2d\");\nfunction randomHexcolor(){\n    //http://www.paulirish.com/2009/random-hex-color-code-snippets/\n    return '#'+Math.floor(Math.random()*16777215).toString(16);\n}\nvar imagePaper = new Image();\n    imagePaper.src = canvas.getAttribute('data-src');\n    imagePaper.onload = function(){\n      canvas.width = imagePaper.width;\n      canvas.height = imagePaper.height; \n      ctx.drawImage( imagePaper, 0, 0, imagePaper.width, imagePaper.height );\n        Array.prototype.slice.apply(persons).map(function(person){\n            console.log(person);\n            ctx.beginPath();\n            \n            var name = person.getAttribute('data-name');\n            name = name || \"Unidentified\";\n            var classifier = person.getAttribute('data-class');\n            classifier = classifier || \"Unidentified\";\n            \n            var x = person.getAttribute('data-x'); \n            var y = person.getAttribute('data-y');\n            var width = person.getAttribute('data-width');\n            var height = person.getAttribute('data-height');\n            ctx.rect(x, y, width, height); // REF: https://goo.gl/yCLI9b\n            ctx.lineWidth = 5;\n            ctx.strokeStyle = randomHexcolor();\n            ctx.stroke();\n            // DISPLAY PESON'S NAME\n            ctx.fillStyle = \"white\";\n            ctx.font = \"30px Arial\";\n            ctx.fillText(name,x,y-15);  // REF: https://goo.gl/GOCtUI\n            ctx.font = \"20px Arial\";\n            ctx.fillStyle = randomHexcolor();\n            ctx.fillText(classifier,0,30);\n        });\n    };\n</script>","x":1072.888916015625,"y":1638.7777099609375,"wires":[["f3b24f18.6afc2"]]},{"id":"f3b24f18.6afc2","type":"http response","z":"15d69b4c.88bad5","name":"","x":1310.22216796875,"y":1631.6666259765625,"wires":[]},{"id":"71e42f96.719ed","type":"function","z":"15d69b4c.88bad5","name":"Results to JSON","func":"\nvar output = {\n    \"url\" : msg.url,\n    \"persons\" : []\n};\nmsg.result.images = msg.result.images || {};\nvar resultsArray = msg.result.images[0].faces || {};\n\nif( resultsArray.length===0 )\n{\n    output.persons.push({\n        \"name\": \"No faces detected\"\n    });\n}\n\nresultsArray.map(function(person){\n    var x = parseInt(person.face_location.left,10); \n    var width = parseInt(person.face_location.width,10);\n    var y = parseInt(person.face_location.top,10);\n    var height = parseInt(person.face_location.height,10);\n    output.persons.push({\n        \"name\": (person.identity||{}).name,\n        \"x\": x, \n        \"y\": y,\n        \"width\": width,\n        \"height\": height\n    });    \n});\n\nmsg.payload = output;\n\nmsg.parts = {\n    \"id\" : msg.url,\n    \"index\" : 1,\n    \"count\": 2,\n    \"type\" : \"object\",\n    \"ch\" : \"\",\n    \"key\" : msg.url\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":456.888916015625,"y":1601.5555419921875,"wires":[["dcff183.06fa8e8","3908504c.dbe5f"]]},{"id":"13118325.04265d","type":"function","z":"15d69b4c.88bad5","name":"GET query?url -> msg.payload","func":"var fallbackImage = 'http://blogs.longwood.edu/jameslaycock/files/2015/03/19_Kevin_Bacon.jpg';\n\nmsg.payload = msg.req.query.url || fallbackImage;\nmsg.payload = encodeURI(msg.payload);\nmsg.url = msg.payload;\n\nreturn msg;","outputs":1,"noerr":0,"x":186.66665649414062,"y":1482.1944580078125,"wires":[["5cf06cda.e1c394","b35728a0.57c7b8","47a22c9f.633e74"]]},{"id":"5cf06cda.e1c394","type":"visual-recognition-v3","z":"15d69b4c.88bad5","name":"Detect Faces","apikey":"61c74ebdbffb54f","image-feature":"detectFaces","lang":"en","x":216.2777099609375,"y":1601,"wires":[["71e42f96.719ed"]]},{"id":"dcff183.06fa8e8","type":"debug","z":"15d69b4c.88bad5","name":"","active":false,"console":"false","complete":"payload.persons[0]","x":695.7777099609375,"y":1502,"wires":[]},{"id":"b35728a0.57c7b8","type":"visual-recognition-v3","z":"15d69b4c.88bad5","name":"Classify Image","apikey":"6174ebdbffb54f","image-feature":"classifyImage","lang":"en","x":224,"y":1671,"wires":[["51fa399c.0eb558"]]},{"id":"51fa399c.0eb558","type":"function","z":"15d69b4c.88bad5","name":"Results to JSON","func":"//var result = msg.result.images[0].classifiers[0].classes[0].class;\nvar output = {\n    \"url\" : msg.url,\n    \"persons\" : []\n};\n\n    output.persons.push({\n        //\"class\": result || \"Unidentified\"\n        \"class\" : msg.result.images[0].classifiers[0].classes[0].class || \"Unidentified\"\n    });    \n\nmsg.payload = output;\nmsg.parts = {\n    \"id\" : msg.url,\n    \"index\" : 2,\n    \"count\": 2,\n    \"type\" : \"object\",\n    \"ch\" : \"\",\n    \"key\" : msg.url\n};\n\n\nreturn msg;","outputs":1,"noerr":0,"x":462,"y":1671,"wires":[["d33f7867.f42ee8","3908504c.dbe5f","6b87569a.3e6798"]]},{"id":"d33f7867.f42ee8","type":"debug","z":"15d69b4c.88bad5","name":"","active":false,"console":"false","complete":"payload.persons[0]","x":685.5,"y":1771,"wires":[]},{"id":"3908504c.dbe5f","type":"join","z":"15d69b4c.88bad5","name":"","mode":"custom","build":"merged","property":"payload.persons[0]","propertyType":"msg","key":"topic","joiner":"\\n","timeout":"","count":"","x":687.5,"y":1637,"wires":[["77fc8a80.dc4904","3588403f.fed8a"]]},{"id":"77fc8a80.dc4904","type":"debug","z":"15d69b4c.88bad5","name":"","active":false,"console":"false","complete":"false","x":934,"y":1768,"wires":[]},{"id":"3588403f.fed8a","type":"function","z":"15d69b4c.88bad5","name":"Add defaults","func":"msg.payload.persons = msg.payload.persons || {}\n\nmsg.payload.persons[0].class = msg.payload.persons[0].class || \"Unidentified\"\nmsg.payload.persons[0].name = msg.payload.persons[0].name || \"Unidentified\"\nmsg.payload.persons[0].x = msg.payload.persons[0].x || 0\nmsg.payload.persons[0].y = msg.payload.persons[0].y || 0\nmsg.payload.persons[0].width = msg.payload.persons[0].width || 0\nmsg.payload.persons[0].height = msg.payload.persons[0].height || 0\n\nreturn msg;","outputs":1,"noerr":0,"x":854.5,"y":1639,"wires":[["bdf6496e.7726a8","4e2b9056.2e72a"]]},{"id":"4e2b9056.2e72a","type":"debug","z":"15d69b4c.88bad5","name":"","active":false,"console":"false","complete":"false","x":1000,"y":1709,"wires":[]},{"id":"6b87569a.3e6798","type":"function","z":"15d69b4c.88bad5","name":"","func":"if( msg.payload.persons[0].class == \"gun\" ) \n{\n    msg.payload = msg.payload.persons[0].class  + \" detected!\";\n    return msg;\n}","outputs":"1","noerr":0,"x":577.5,"y":1833,"wires":[["16a8f7eb.cc76d8","39abc2ab.d529ae"]]},{"id":"16a8f7eb.cc76d8","type":"debug","z":"15d69b4c.88bad5","name":"","active":true,"console":"false","complete":"payload","x":841.5,"y":1854,"wires":[]},{"id":"39abc2ab.d529ae","type":"twilio out","z":"15d69b4c.88bad5","service":"_ext_","twilio":"31a65285.23c27e","from":"","number":"+447852145522","name":"","x":840.5,"y":1961,"wires":[]},{"id":"47a22c9f.633e74","type":"debug","z":"15d69b4c.88bad5","name":"","active":true,"console":"false","complete":"false","x":499.5,"y":1433,"wires":[]},{"id":"443d8195.9b2b9","type":"http response","z":"15d69b4c.88bad5","name":"","x":602.5,"y":1234,"wires":[]},{"id":"84667906.9ac038","type":"debug","z":"15d69b4c.88bad5","name":"","active":false,"console":"false","complete":"false","x":319.5,"y":1143,"wires":[]},{"id":"31a65285.23c27e","type":"twilio-api","z":"","sid":"AC6dfd6dfa2ba549cbd5d658d6f1ea778c","from":"+441158244572","name":""}]
