node-red/web-services
[{"id":"a9cb1a07.5634e8","type":"http in","name":"http in","url":"/random","method":"get","x":119,"y":322,"z":"4eb61250.b149ec","wires":[["e3dad59d.1c2528"]]},{"id":"1bb5a0d7.e44a5f","type":"template","name":"","template":"Hello Random - {{ payload }}","x":464.00006103515625,"y":316,"z":"4eb61250.b149ec","wires":[["88b41af8.774be8"]]},{"id":"88b41af8.774be8","type":"http response","name":"http response","x":617,"y":319.0000305175781,"z":"4eb61250.b149ec","wires":[]},{"id":"a664658.f599b98","type":"inject","name":"Inject1","topic":"Topic1","payload":"1,100","payloadType":"string","repeat":"","crontab":"","once":true,"x":129.00003051757812,"y":269,"z":"4eb61250.b149ec","wires":[["e3dad59d.1c2528"]]},{"id":"e3dad59d.1c2528","type":"function","name":"Random Fn","func":"if (msg.topic == \"Topic1\") {\n var words = msg.payload.split(\" \");\n var range = words[0];\n var minmax = range.split(\",\");\n var min = minmax[0];\n var max = minmax[1];\n var d = Math.round(min + (Math.random() * (max - min)));\n context.myValue = d+\"\";\n msg.payload = context.myValue;\n return [msg,null];\n} else {\n msg.payload = context.myValue||\"\";\n return [null,msg];\n}","outputs":"2","x":327,"y":272,"z":"4eb61250.b149ec","wires":[["fca8f92e.035708"],["1bb5a0d7.e44a5f"]]},{"id":"fca8f92e.035708","type":"debug","name":"Debug1","active":true,"console":"false","complete":"true","x":588.0000610351562,"y":256,"z":"4eb61250.b149ec","wires":[]}]
